body {
  background-color: #cce2dd;
  color: #fafafa;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.top-nav {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #cce2dd;
  align-items: center;
  z-index: 9;
}

.search {
  outline: none;
  width: 20%;
  height: 30px;
  position: relative;
  margin-left: 80px;
  border-radius: 100rem;
  padding-left: 20px;
  font-size: 16px;
  border: none;
}

.profile-container {
  position: absolute;
  display: flex;
  right: 10px;
  width: fit-content;
  height: 40px;
  margin-right: 10px;
  padding-right: 10px;
  align-items: center;
  transition: 0.12s;
  cursor: pointer;
}

.profile-container:hover {
  background-color: aqua;
  border-radius: 100rem;
  transform: scale(1.075);
}

.img-link-profile {
  width: 40px;
  height: 40px;
}

.img-link-profile {
  border-radius: 100rem;
  width: 40px;
  height: 40px;
}

.left-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 1000px;
  margin-top: 80px;
}

.my-courses {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  color: black;
}

.name-course-content {
  margin: 10px 0 10px 30px;
}

.my-courses-img {
  height: 40px;
  width: 40px;
  border-radius: 100rem;
  object-fit: cover;
  margin-right: 20px;
}

.link-my-courses {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 2px;
  transition: 0.12s;
  color: black;
}

.link-my-courses:hover {
  background-color: rgba(94, 97, 100, 0.795);
  border-radius: 100rem;
  transform: scale(1.02);
}

.my-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 30px 0;
  color: black;
}

.title-my-group {
  margin-left: 10px;
  display: inline-block;
  width: fit-content;
}

.material-icons {
  margin-left: 10px;
  position: absolute;
  width: fit-content;
  left: 90px;
}

.name-groups {
  margin: 10px 0 10px 30px;
}

.my-group-img {
  height: 40px;
  width: 40px;
  border-radius: 100rem;
  object-fit: cover;
  margin-right: 20px;
}

.link-my-group {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 2px;
  transition: 0.12s;
  color: black;
}

.link-my-group:hover {
  background-color: rgba(94, 97, 100, 0.795);
  border-radius: 100rem;
  transform: scale(1.02);
}

.my-group-img {
  height: 40px;
  width: 40px;
  border-radius: 100rem;
}

.main-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  left: 400px;
  top: 80px;
  margin-top: 30px;
}

.poster {
  width: 100%;
  height: fit-content;
  position: relative;
  background-color: #678d8d;
  margin-top: 30px;
  border-radius: 12px;
}

.poster-header {
  position: relative;
  width: 100%;
  height: 60px;
}

.account-avatar {
  border-radius: 100rem;
  width: 50px;
  height: 50px;
  margin: 15px;
}

.account-name {
  position: absolute;
  display: inline-block;
  margin: 15px 0 0;
  cursor: pointer;
}

.poster-header-footer {
  position: absolute;
  display: inline-flex;
  margin-top: 5px;
  align-items: center;
  flex-direction: row;
  height: 30px;
  top: 50%;
  font-size: 12px;
  opacity: 0.9;
}

.poster-content {
  margin: 20px 15px;
}

.poster-interact {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: transparent;
  margin: 20px 0;
  display: flex;
  border-top: 1px solid rgba(136, 180, 180, 0.705);
  border-bottom: 1px solid rgba(136, 180, 180, 0.705);
  padding: 5px 0;
}

.container-bt-like {
  width: calc(100% / 3 - 20px / 3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.12s;
  margin-left: 5px;
}

.bt-like {
  border: none;
  background-color: transparent;
  order: 1;
  margin-left: 5px;
}

.bt-like:hover {
  cursor: pointer;
}

.bt-comment:hover {
  cursor: pointer;
}

.bt-share:hover {
  cursor: pointer;
}

.container-bt-like:hover {
  background-color: rgba(94, 97, 100, 0.795);
  cursor: pointer;
  border-radius: 100rem;
  transform: scale(1.02);
}

.container-bt-comment {
  width: calc(100% / 3 - 20px /3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  transition: 0.12s;
}

.bt-comment {
  border: none;
  background-color: transparent;
  order: 1;
  margin-left: 5px;
}

.container-bt-comment:hover {
  background-color: rgba(94, 97, 100, 0.795);
  cursor: pointer;
  border-radius: 100rem;
  transform: scale(1.02);
}

.container-bt-share {
  width: calc(100% / 3 - 20px / 3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  transition: 0.12s;
}

.bt-share {
  border: none;
  background-color: transparent;
  order: 1;
  margin-left: 5px;
}

.container-bt-share:hover {
  background-color: rgba(94, 97, 100, 0.795);
  cursor: pointer;
  border-radius: 100rem;
  transform: scale(1.02);
}

.container-right-bottom {
  width: 300px;
  height: 300px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.bt-arrow-up {
  height: 50px;
  width: 60px;
  border-radius: 100rem;
  position: absolute;
  background-color: #1c77c7;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  cursor: pointer;
  transition: 0.12s;
}

#icon-arrow-up, #icon-bell, #icon-add-post {
  font-size: 36px;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  -webkit-user-select: none;
  /*Safari*/
  -moz-user-select: none;
  /*Old FireFox*/
}

.bt-add-post {
  position: absolute;
  display: flex;
  align-items: center;
  height: 50px;
  width: 60px;
  background-color: #3fdada;
  border-radius: 100rem;
  bottom: 65px;
  right: 0;
  cursor: pointer;
  transition: 0.12s;
}

.bt-add-post:hover, .bt-arrow-up:hover, .bt-bell:hover {
  transform: scale(1.075);
  color: red;
}

.bt-bell {
  position: absolute;
  display: flex;
  align-items: center;
  height: 50px;
  width: 60px;
  background-color: #c5d2e2;
  border-radius: 100rem;
  bottom: 130px;
  right: 0;
  cursor: pointer;
  transition: 0.12s;
}

.number_of_notification {
  height: 25px;
  width: 25px;
  background-color: #85dbbad1;
  border-radius: 100rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -5%;
  top: -20%;
}

/*# sourceMappingURL=style.css.map */
