html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;  
    color: #000;  
}

.header-nav {
    width: 100%;
    height: 5rem;
    background-color: #CCE2DD;
    position: relative;
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.logo-header {
    width: 60px;
    height: 60px;
    object-fit: contain;
    position: relative;
}

.links-container {
    display: flex;
    flex-direction: row;
    margin-left: 1.6rem;
    height: 100%;
    .lis {
        margin-left: 3rem;
        list-style: none;
        width: 8.5rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.12s;
        cursor: pointer;
        -webkit-user-select: none;
        #my-subjects, #references, #exercises {
            text-decoration: none;
            text-transform: capitalize;
            position: relative;
            font-size: 1.4rem;
            font-weight: bold;
        }
        
    }
    .lis:hover {
        background-color: rgba(82, 179, 224, 0.849);
        #my-subjects, #references, #exercises, .fa-caret-down {
            color: #fff;
        }
    }
    #nav-subjects {
        display: none;
        width: 30vw;
        height: fit-content;
        background-color: rgb(252, 252, 252);
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 20;
        cursor: auto;
        .fas.fa-times {
            position: absolute;
            top: 15px;
            right: 15px;
        }
        ul {
            margin: 10px;
            padding: 0;
            #list-course {
                margin: 10px 0;
                list-style: none;
                cursor: pointer;
                width: fit-content;
                padding: 5px;
            }
            #list-course:hover {
                background-color: rebeccapurple;
            }
            .link-course {
                text-decoration: none;
                margin-bottom: 15px;
                font-size: 20px;
                width: 100%;
            }
        }
    }
}

.title-bar {
    width: 100%;
    height: 3rem;
    position: fixed;
    background-color: #000;
    display: flex;
    align-items: center;
    z-index: 10;
}  

.fas.fa-home {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #fff;
    cursor: pointer;
}

.fas.fa-bars {
    display: none;
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #fff;
}
.index {
    color: #fff;  
    margin-left: 1%;  
}

.left-container-chapter {
    width: 220px;
    height: 100%;
    // background-color:aquamarine;
    position: fixed;
    margin-top: 3rem;
    top: 5rem;
    .left-content-chapter {
        width: 100%;
        height: calc(100% - 3rem);
        background-color: #CCE2DD;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-top: 0.7rem;
        overflow-y: scroll;
        overflow-x:hidden;
        a {
            text-decoration: none;
            padding: 5px 0;
        }
        h2 {
            font-size: 1.4rem;
            font-weight: 500;
        }
        .container-forum {
            margin-top: 10px;
            width: 100%;
            height: 2rem;
            display: flex;
            align-items: center;
            padding-left: 5px;
            // margin-right: 20px;
            .fas.fa-users {
                margin-right: 5%;
            }
            .forum {
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
        .container-forum:hover {
            cursor: pointer;
            background-color: red;
            border-radius: 100rem;
        }

        .container-profile, .container-out {
            margin-top: 10px;
            width: 100%;
            height: 2rem;
            display: flex;
            align-items: center;
            padding-left: 5px;
            .profile, .out {
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
        .container-profile:hover, .container-out:hover {
            cursor: pointer;
            background-color: red;
            border-radius: 100rem;
        }
    }
}

.main-content {
    width: calc(97% - 220px);
    height: 100%;
    // background-color: brown;
    position: absolute;
    margin-top: 3rem;
    left: 220px;
    // margin-left: 220px;
    .chapters {
        outline: #000 solid 1px;
        margin: 30px;
        padding: 10px 20px;
        background-color: #9cd3d3;
        line-height: 1.6;
        position: relative;
        box-shadow: -3px 5px 10px rgba(102, 100, 100, 0.692);
        border-radius: 3px;
        .right_tool {
            right: 0;
            width: 4rem;
            position: absolute;
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            #tooltip_pen {
                background-color:#000;
                width: 3rem;
                position: absolute;
                bottom: 100%;
                left: 6%;
                margin-left: -8px;
                text-align: center;
                padding: 5px;
                border-radius: 3px; 
                visibility: hidden;
                font-weight: 500;
            }
        }
        #note_btn:hover #tooltip_pen {
            visibility: visible;
        }
        #one_note_chapter_home {
            visibility: hidden;
            position: absolute;
            right: 32px;
            top: 16px;
            resize: none;
        }
    }
}